        .bi{
            padding-right: 5px;
        }
       
       .app{
            width: 300px;
            height: 95vh;
           
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 0 auto;
        }
        .title{
            font-size: 25px;
        }
        .settings{
            border: 2px solid #000;
            color: #000;
            padding: 5px;
            border-radius: 5px;
        }
        .settings:hover{
            background-color: #000;
            color: #fff;
            transition-duration: 1s;
        }
        .box-head{
            margin-top: 0;
            padding: 20px;
            
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .cgpa-box{
            width: 100%;
            /* background: red; */
            display: flex;
            justify-content: flex-end;
            border-bottom: 2px solid #7c7c7c;
            margin-bottom: 10px;
        }
        .cgpa-box > span{
            font-size: 50px;
            padding: 10px;
        }
        .key{
            border: 2px solid #efefef;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            padding: 5px;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        .headers{
            width: 85% !important;
        }
        .block{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            padding-bottom: 20px;
        }
        .block > p{
            margin: 0;
            margin-bottom: 5px;
        }
        .select{
            /* background: #2C87F1; */
            min-width: 50px;
            text-align: center;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
            /* border: 3px solid #2C87F1; */
        }
       
        .select:hover{
            background: #e7e7e7;
        }
        .button{
            background: #fff;
            text-align: center;
            padding: 10px;
            color: #000;
            border-radius: 5px;
        }
        .button:hover{
            background: #000;
            color: #fff;
            transition-duration: 1s;
        }

        .units, .course{
            width: 50px;
            color: #000;
        }

        select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 
   /* background: #2C87F1; */
            min-width: 50px;
            text-align: center;
            color: #000000 !important;
            padding: 5px;
            border-radius: 3px;
        }


        